# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\websockets_scaling\ws-live-chat-system\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
